
*{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    background-image: url(image.jpeg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    padding-left: 25px;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: rgb(245, 81, 21);
    font-size: 30px;
    font-family: 'Times New Roman';
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.logo:hover{
    color: whitesmoke;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 18px;
}
ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Times New Roman';
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: rgb(245, 81, 21);
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(245, 81, 21);
    margin-top: 13px;
    color: whitesmoke;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    font-family: 'Times New Roman';
    width: 100px;
    height: 40px;
    background: rgb(245, 81, 21);
    border: 2px solid rgb(245, 81, 21);
    margin-top: 13px;
    color: black;
    font-size: 18px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.search:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: 30px;
    color: whitesmoke;
    position: relative;
    padding-top: 30px;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Times New Roman';
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: 18px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;

}

.content .cn{
    width: 110px;
    height: 30px;
    background: rgb(245, 81, 21);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 7px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman';
    transition: .3s ease;
}

.cn:hover{
    background: whitesmoke;
}

.content span{
    color: rgb(245, 81, 21);
    font-size: 60px;
}

.form{
    width: 250px;
    height: 350px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    top: 50px;
    left: 1150px;
    border-radius: 10px;
    padding: 25px;
    position: absolute;
}

.form h2{
    width: 210px;
    height: 22px;
    font-family: 'Times New Roman';
    text-align: center;
    color: rgb(245, 81, 21);
    font-size: 22px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 33px;
    background: transparent;
    border-bottom: 1px solid rgb(245, 81, 22);
    border-top: none;
    border-left: none;
    border-right: none;
    color: whitesmoke;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: whitesmoke;
    font-family: 'Times New Roman';
}
.btnn{
    width: 230px;
    height: 35px;
    background: rgb(245, 81, 22);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: whitesmoke;
    transition: 0.4s ease;
}
.btnn:hover{
    background: whitesmoke;
    color: rgb(245, 82, 22);
}
.btnn a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman';
    font-weight: bold;
}
.form .link{
    font-family: 'Times New Roman';
    font-size: 16px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: rgb(245, 81, 22);
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a{
    text-decoration: none;
    color: whitesmoke;
}
.icons ion-icon{
    color: whitesmoke;
    font-size: 27px;
    padding-left: 17px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: rgb(245, 81,22 );
}
.nam{
    padding-top: 70px;
}
