*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans';
}
.Header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(back.jpg);
    background-position: center; 
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 300px;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(27, 171, 228);
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fa4234;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
} 
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-family: monospace;
    font-size: 80px;
    color: rgb(243, 97, 12);
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: rgb(255, 241, 248);
}
.start{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.start h1{
    font-size: 36px;
    font-weight: 600;
}
.start p{
    color: rgb(12, 12, 15);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-size: 20px;
}
.card{
    color: blueviolet;
    width: 350px;
    height: 350px;
    display: inline-block;
    border-radius: 10px;
    padding: 180px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 15px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.card1{
    background-image: url('tools.jpg');
}
.card2{
    background-image: url('colo.jpg');
}
.card3{
    background-image: url('mission.jpg');
}
.card4{
    background-image: url('stars.jpg');
}
.card:hover{
    transform: translateY(-10px);
}
.card h5{
    color:rgb(255, 255, 255);
    text-shadow: 0 0 5px #999;
    font-size: 25px;
    background-color: rgb(245, 81, 25);
    border-radius: 5px;
}
.card p{
    color: rgb(247, 245, 244);
    font-size: 15px;
}
.col p{
    font-size: 15px;
}
.col{
    text-align: center;
    position: absolute;
    top: 50%;
    padding-left: 180px;
}
