*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'monospace';
}
.Header{
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(back.jpg);
    background-position: center; 
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 300px;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(27, 171, 228);
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fa4234;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.head{
    width: 90%;
    color: orangered;
    position: absolute;
    top: 80%;
    left: 50%;
    font-size: 60px;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: monospace;
    
}
.colony li{
    padding: 20px;
    text-align:left;
    font-family: monospace;
    color: rgb(0, 0, 0);
    font-size: 30px;
}
h2{
    font-family: monospace;
    color: orangered;
    text-align: center;
    font-size: 60px;      
}

th{
    border:2px orangered;
    border-right:20px;
    font-size: 16px;
}
tr{
    border: 2px orangered;
    font-size: 16px;
}
h3{
    padding-top: 50px;
    padding: 50px;
    font-family: monospace;
    text-align: center;
    font-size: 40px;
    color: maroon;
    }
    
table{
    font-family: monospace;
    border-spacing: 15px;
    border:2px orangered;
    table-layout: initial;
    margin-left: 370px;
    border-style: groove;
    border-radius: 10px;
}
.class h2{
  font-family: monospace;
  height: 12px;
}
.Mars{
    padding-top: 50px;
    padding: 50px;
    background-image: url(stars.jpg);
}
.Mars h2{
    font-family: monospace;
    color: rgb(248, 10, 10);
    text-align: center;
    font-size: 40px;
}
.Mars li{
    padding: 20px;
    text-align:left;
    font-family: monospace;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.colony h1{
    padding-top: 60px;
    font-family: monospace;
    color: rgb(248, 10, 10);
    text-align: center;
    font-size: 40px;
}
.table img{
    width: 100%;
}
.end{
    padding-top: 50px;
    padding: 50px;
    background-image: url(stars.jpg);
}
.end h2{
    font-family: monospace;
    color: rgb(248, 10, 10);
    text-align: center;
    font-size: 40px;
}
.end li{
    font-family: monospace;
    color: rgb(250, 250, 250);
    font-size: 25px;
}
footer{
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 15px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.wor{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.loc{
    flex-basis: 25%;
    padding: 10px;
}

.loc:nth-child(2), .loc:nth-child(3){
    flex-basis: 15%;
}

.logo{
    width: 300px;
    height: 120px;
    margin-bottom: 30px;
}

.loc h3{
     width: fit-content;
     margin-bottom: 40px;
     position: relative;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
     color: white;
}
.top h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: white;
}

hr{
    width: 80%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copy{
    font-size: 15px;
    text-align: center;
}

.under{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.under span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
iframe{
    padding: 50px;
    padding-top: 30px;
    text-align: center;
}
